<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="folderPath" value="d:\\" />
		<add key="ftpUserId" value="asiddiqui" />
		<add key="ftpPassword" value="click2010" />
		<add key="ftpPath" value="ftp://pk.ftp.folio3.com/" />
		<!--FTP Path-->
		<add key="buffersize" value="2048" />
		<!--Buffer Size in bytes-->
	</appSettings>
</configuration>